:root{
    --square-width: 3rem;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: calc(3*var(--square-width));
}

.square{
    width: var(--square-width);
    height: var(--square-width);
    font-size: 1rem;
    padding: .5rem;
    background-color: #ffffff;
    cursor: pointer;
}